
.street {
 stroke-width: 1;
 stroke: #9e9e9e; 
}

.freeway {
 stroke-width: 1;
 fill: #8bc34a;
}

.arteries{
 stroke-width: 1;
 stroke: #aed581;
}

.neighborhood{
 stroke-width: 1;
 stroke: #607d8be0;
 fill: #eceff1
}

.form{
  position: fixed;
  top: 0;
  width: 100%;
}

svg {
  margin-top: 250px;
}


.muni {
  fill: 'blue'
}
